In [174]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame

In [187]:
early = pd.read_excel("/Users/rcd/Desktop/Springboard/MiniProjects/Vancomycin/self-confidence surveys.xlsx", sheet_name="Early 2012-13-14")

In [188]:
late = pd.read_excel("/Users/rcd/Desktop/Springboard/MiniProjects/Vancomycin/self-confidence surveys.xlsx", sheet_name=" Late 2012-13-14", header=1)

In [189]:
early.head(5)

,Frequency of Vancomycin Administration,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,Year,Dose,Do you feel confident to treat patients with v...,Do you feel confident to choose the initial do...,Do you feel confident to choose a maintenance ...,Do you feel confident when the first blood con...,Do you know how often blood concentrations of ...,Are you awared of what the therapeutic range f...,Do you feel confident to interpret high or low...,Do you feel confident to manage an influsion r...
1,1,1,3,2,3,3,4,4,2,4
2,1,1,4,2,3,4,3,4,4,5
3,1,1,4,4,4,2,4,2,3,4
4,1,1,4,2,3,3,3,3,3,4

In [192]:
early.fillna(0, inplace=True)

In [195]:
early.columns = early.iloc[0]

In [197]:
early.drop(0, inplace=True)

In [198]:
early.head()

,Year,Dose,Do you feel confident to treat patients with vancomycin?,Do you feel confident to choose the initial dose of vancomycin (condidering renal function)?,Do you feel confident to choose a maintenance dose of vancomycin?,Do you feel confident when the first blood concentrations of vancomycin can be taken (to accurately reflect steady-state concentrations)?,Do you know how often blood concentrations of vancomycin should be taken (once the patient has reached therapeutic target range)?,Are you awared of what the therapeutic range for vancomycin is?,Do you feel confident to interpret high or low blood vancomycin concentrations to use that information to amend dose or interval?,Do you feel confident to manage an influsion related reaction to vancomycin (Red Man Syndrome)?
1,1,1,3,2,3,3,4,4,2,4
2,1,1,4,2,3,4,3,4,4,5
3,1,1,4,4,4,2,4,2,3,4
4,1,1,4,2,3,3,3,3,3,4
5,1,1,2,3,3,2,3,1,2,4

In [214]:
early.Year.value_counts()[:-2]

1    115
2      3
0      3
3      2
Name: Year, dtype: int64

In [220]:
pd.crosstab(early['Year'], early['Dose'], margins=True)[:-3]

Dose  0    1  108  <= 20  <= 30  All
Year
0     3    0    0      0      0    3
1     0  105    0     10      0  115
2     0    2    0      0      1    3
3     1    1    0      0      0    2

In [205]:
early.pivot_table(values=['1.0', '0.0'], columns=['1yr', '2yr', '2yr+'])

KeyError: '1.0'

In [176]:
pd.crosstab(early['1yr'], early['11x to 20x'])

11x to 20x  0.0  1.0  9.0
1yr
0.0           7    0    0
1.0         106    9    0
115.0         0    0    1

In [146]:
pd.crosstab(early['1yr'], early['21x to 30x'])

21x to 30x  0.0  1.0
1yr
0.0           6    1
1.0         115    0
115.0         0    1

In [147]:
pd.crosstab(early['1yr'], early['>30'])

>30    0.0
1yr
0.0      7
1.0    115
115.0    1